# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

ps1/countries.csv
ps1/countries_aprictos.csv
ps1/data.csv
ps1/data.zip
ps1/ps1.pdf
